/* Css Styles Derrick */

.list-group {
  box-sizing: content-box;
  padding: 0rem;
}

.list-group-item {
  padding: 0rem;
}

input {
  display: inline-block;
}

.task:hover {
  background-color: lightblue;
}
